
        {% extends 'base.html' %}

        {% block content %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ["Date", "Comments"],
                    ["04/01/2019", 6],["04/02/2019", 10],["04/03/2019", 8],["04/04/2019", 2],["04/05/2019", 6],["04/07/2019", 6],["04/08/2019", 7],["04/09/2019", 5],["04/10/2019", 19]
                ]);
                
                var options = {
                    title: "Number of Issues By Date",
                    legend: { position: "right" },
                    bar: {groupWidth: "75%"},
                    hAxis: {title: "Date" , direction:-1, slantedText:true, slantedTextAngle:90 },
                    vAxis: {title: "Nr of Issues"}
                };

                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                chart.draw(data, options);
        }
        </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ["Category", "Comments"],
                    ["Battery", 16],["Camera", 10],["UI", 7],["Display", 6],["NFC", 4],["Photos", 4],["Security", 4],["App", 2],["Connection", 2],["Fm Radio", 2],["Media", 2],["Power", 2],["Sensor", 2],["Update", 2],["Build Quality", 1],["Network", 1],["One Handed Mode", 1],["Screen", 1]
                ]);
                
                var options = {
                    title: "Number of Issues By Category",
                    legend: { position: "right" },
                };

                var chart = new google.visualization.PieChart(document.getElementById("piechart_values"));
                chart.draw(data, options);
        }
        </script>
        <body class="dashboard-contents">
            <div id="content-container" class="container">
                <form id="dashboard-form" method="POST">
                    <div class="content-container">
                        <div name="dashboard-container" class="dashboard-container">
                          <div id="wrapper">
                                <h1 align="center">Dashboard</h1>
                                <div id="columnchart_values" align="center" style="width: 900px; height: 600px"></div>
                                <div id="piechart_values" align="center" style="width: 900px; height: 600px"></div>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </body>
        {% endblock content %}